source_env .envrc.sops

use sops_if_exists .env.secrets.postgres.sops-encrypted
use sops_if_exists .env.secrets.snowflake.user.sops-encrypted

# https://github.com/getsops/sops/issues/965: can't do multiline dotenv, so use binary
use sops_if_exists .env.secrets.snowflake.keypair.sops-encrypted binary
