XORQ_CATALOG_S3_NAME=
XORQ_CATALOG_S3_BUCKET=
XORQ_CATALOG_S3_AWS_ACCESS_KEY_ID=
XORQ_CATALOG_S3_AWS_SECRET_ACCESS_KEY=
XORQ_CATALOG_S3_ENCRYPTION=none
XORQ_CATALOG_S3_DATACENTER=
XORQ_CATALOG_S3_REGION=
XORQ_CATALOG_S3_HOST=
XORQ_CATALOG_S3_PORT=
XORQ_CATALOG_S3_PROTOCOL=
XORQ_CATALOG_S3_REQUESTSTYLE=
XORQ_CATALOG_S3_SIGNATURE=
XORQ_CATALOG_S3_FILEPREFIX=
XORQ_CATALOG_S3_STORAGECLASS=
XORQ_CATALOG_S3_CHUNK=
XORQ_CATALOG_S3_PUBLIC=
XORQ_CATALOG_S3_PUBLICURL=
XORQ_CATALOG_S3_VERSIONING=
XORQ_CATALOG_S3_PARTSIZE=
XORQ_CATALOG_S3_EMBEDCREDS=
