XORQ_CACHE_DIR=~/.cache/xorq
XORQ_DEFAULT_RELATIVE_PATH=parquet
XORQ_PROFILE_DIR=~/.config/xorq/profiles
XORQ_DEBUG=False
XORQ_CACHE_KEY_PREFIX=letsql_cache-
XORQ_LOG_LEVEL=INFO
XORQ_LOG_PATH=~/.config/xorq/xorq.log
XORQ_RUNS_LOGS_DIR=~/.local/share/xorq/runs
XORQ_DEFAULT_CATALOG=
XORQ_TUI_LEFT_RATIO=2
XORQ_TUI_RIGHT_RATIO=3
XORQ_TUI_REVISIONS_OPEN=False
XORQ_TUI_GIT_LOG_OPEN=False
XORQ_TUI_SQL_HIGHLIGHT_MAX_LINES=500
XORQ_TUI_HIGHLIGHT_DEBOUNCE=0.15
XORQ_TUI_ROW_LIMIT=10000
XORQ_UV_USE_HARDLINK=
