name: ci-test-examples

on:
  push:
    # Skip the backend suite if all changes are docs
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - "*.md"
      - "codecov.yml"
      - ".envrc"
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["x86_64"]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --extra examples --extra pyiceberg --extra postgres --extra sqlite --group dev --group test
        working-directory: ${{ github.workspace }}

      - name: pytest
        run: uv run --no-sync pytest --import-mode=importlib --capture=no -vvv -x -k 'sklearn_classifier_comparison or sklearn_deferred_auc or sklearn_deferred_metrics_inputs or sklearn_home_run_prediction or sklearn_metrics_comparison or sklearn_pipeline_scoring' -- python/xorq/tests/test_examples.py
        working-directory: ${{ github.workspace }}
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DATABASE: ibis_testing
          WEATHER_FEATURES_PORT: 8819
          WEATHER_API_URL: https://api.openweathermap.org/data/2.5/weather
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
