name: ci-test

on:
  push:
    # Skip the backend suite if all changes are docs
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - "*.md"
      - "codecov.yml"
      - ".envrc"
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
        python-version: ["3.12"]
        backend:
          - name: datafusion
            services: false
            extras:
              - --extra datafusion
          - name: duckdb
            services: false
            extras:
              - --extra duckdb
          - name: xorq
            services: false
            extras: []
          - name: pyiceberg
            services: false
            extras:
              - --extra pyiceberg
          - name: postgres
            services: true
            extras:
              - --extra postgres
              - --extra examples
            sys-deps:
              - libpq5
          - name: pandas
            services: false
            extras: []
          - name: core
            services: true
            extras:
              - --extra examples
              - --extra postgres
              - --extra pyiceberg
              - --extra sqlite
              - --extra ibis
          - name: sqlite
            services: false
            extras:
              - --extra sqlite
              - --extra duckdb
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: update and install system dependencies
        if: matrix.backend.sys-deps != null
        run: |
          set -euo pipefail

          sudo apt-get update -qq -y
          sudo apt-get install -qq -y build-essential ${{ join(matrix.backend.sys-deps, ' ') }}

      - name: download test data
        run: just download-data

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked ${{ join(matrix.backend.extras, ' ') }} --group dev --group test
        working-directory: ${{ github.workspace }}

      - name: start services
        if: ${{ matrix.backend.services }}
        run: docker compose up --build --wait

      - name: pytest
        run: uv run --no-sync pytest --import-mode=importlib --cov --cov-report=xml -m ${{ matrix.backend.name }} -k 'not script_execution and not slow'
        working-directory: ${{ github.workspace }}
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DATABASE: ibis_testing

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
