name: ci-test-snowflake

on:
  workflow_dispatch:
  pull_request:
    types:
      - labeled

permissions:
  contents: read


jobs:
  linux:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || github.event.label.name == 'ci-test-snowflake'
    strategy:
      matrix:
        target: ["x86_64"]
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: download test data
        run: just download-data

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --extra snowflake --extra postgres --extra ibis --group dev --group test
        working-directory: ${{ github.workspace }}

      - name: start services
        run: docker compose up --build --wait postgres

      - name: pytest
        run: uv run --no-sync pytest --import-mode=importlib -m snowflake -v --cov --cov-report=xml -s -vv
        working-directory: ${{ github.workspace }}
        env:
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_GH_USER_PASSWORD }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_GH_USER_NAME }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_GH_WAREHOUSE }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_GH_ROLE }}
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_GH_ACCOUNT }}
          SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
          SNOWFLAKE_PRIVATE_KEY_PWD: ${{ secrets.SNOWFLAKE_PRIVATE_KEY_PWD }}
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DATABASE: ibis_testing

      - name: Upload coverage reports to Codecov
        if: success()
        continue-on-error: true
        uses: codecov/codecov-action@v5.5.1
        with:
          flags: snowflake
          token: ${{ secrets.CODECOV_TOKEN }}

